@using TeeKoASPCore.Models
@using TeeKoASPCore.Utility
@model GameModel

<head>
    <!-- stylesheet -->
    <link rel="stylesheet" href="~/css/literallycanvas.css" />
    <link rel="stylesheet" href="~/css/game.css" />

    <!-- dependency: React.js -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-with-addons.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.js"></script>

    <!-- Literally Canvas -->
    <script src="/js/literallycanvas.js"></script>
    <!--SignalR-->
    <script src="~/js/@@microsoft/signalr/dist/browser/signalr.js"></script>
</head>

<!--saving model data to client without additional requests-->
<script type="text/javascript">
    var gameId = "@Model.GameID";
</script>

<!--main game script-->
<script type="text/javascript" src="~/js/game.js">

</script>



Game ID: @Model?.GameID
Your name: @User.Claims.First().Value




<div class="container">

    <div class="panel-info" style="float:initial">
        Game Stage:
        <i id="gameStage">Preparation</i>
        <br />
        <i>Time left:</i>
        <i id="timer"> </i>

    </div>

    <div id="lobby" class="container " style="float:left">
        <div>
            @if (Model.Owner.IsIdentical(User))
            {
                <button type="button" id="startGame">Start the Game</button>
            }
        </div>
        <ul class="list-group"></ul>
    </div>



    <div class="panel-default" style="float:right">

        Player count:
        <i id="player-count">
            @Model?.Players.Count()
        </i>
        <ul class="list-group" id="player-list"></ul>
    </div>


    <div class="panel" id="drawingPhase" hidden="true" style="width:80%">


        <h4 style="position:center">Draw your pictures here!</h4>
        <i>Drawings sent:</i>
        <i id="drawingCount">0/@Model.maxDrawingsPerPlayer</i>


        <div class="my-drawing"></div>
        <div style="position=centre">
            <button type="button" id="submitDrawing">Submit</button>
        </div>


    </div>

    <div class="panel" id="writingPhase" hidden="true">

        <h4 style="position:center">Input your lines here! One at a time, max length = 20 symbols.</h4>
        <div>
            <i>Lines sent:</i>
            <i id="linesCount">0/@Model.maxLinesPerPlayer</i>
        </div>


        <div style="position:center">
            <input id="lineInput" type="text" maxlength="20">

            <button type="button" id="submitLine">Submit</button>
        </div>

    </div>

    <div class="panel" id="composingPhase" hidden="true">

        <button type="button" id="submitComposition" style="left:50%; width:25%; font-size:large; height: 1.2em">Submit</button>
        <div>
            <div id="composing-drawings"  style="float:left; width:50%"></div>
            <div id="composing-lines"  style="float:right; width:50%"></div>
        </div>
    </div>


    <div class="panel" id="votingPhase" hidden="true">
        <button type="button" id="submitVote" style="left:50%; width:25%; font-size:large; height: 1.2em">Submit</button>
        <div id="compositionsHolder" class="well" style="float:left; width:80%;"></div>

    </div>


</div>