

<div style="margin:auto; width: 40%; text-align:center">
    <h1 style="color:royalblue">This game does not exist.</h1>
    <h3 style="color:royalblue">Games with no players are instantly deleted, sorry.</h3>

    <a class="btn btn-success" asp-controller="Game" asp-action="StartLobby">Lets start another one</a>
</div>
