@{
    ViewData["Title"] = "Home Page";

}

<div style="margin:auto; width: 70%; text-align:center">
    <h2>What's this?</h2>
    <h4>
        A web clone/parody of "Jackbox Tee Ko",
        a game where a group of people each draw a few quick drawings and write some (hopefully) humorous lines of text,
        all the text lines and drawings are then shuffled and players are prompted to make a t-shirt (or a billboard, or a meme etc)
        out of several randomly chosen lines and images.
        Funniest result wins the round!
    </h4>

    <h2>How to share a game room?</h2>
    <h4>
        Create a room and then simply share the url link with your friends, they'll get in the same room as you.
    </h4>

    <a class="btn btn-success" asp-controller="Game" asp-action="StartLobby">Lets go damnit</a>
</div>